:root {
  --color-blue: #2C9BFF;
  --color-pink: #F9DBD7;
  --color-grey: #F5F5F5;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  padding-bottom: 5px;
  color: #000;
  text-decoration: none;
  border-bottom: solid 2px transparent;
}

a:hover { border-bottom: solid 1px black; }

h2 {
  font-size: 40px;
  line-height: 1.375;
}

h3 {
  font-size: 36px;
}

/*//////////////////
////// HEADER //////
//////////////////*/

.main-header {
  position: fixed;
  width: 100vw;
  padding: 15px 0;
  font-size: 16px;
  background:rgba(44, 155, 255, 0.25);
  z-index: 100;
}

.main-header .container {
  margin: 0 auto;
  max-width: 1020px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-left { margin-left: 25px; }
.nav-right { margin-right: 25px; }

.main-nav a:not(a:last-child) {
  /* ^ targets all anchor elements inside the header's nav container excluding the final anchor element. */
  margin-right: 35px;
}

/*////////////
//// HERO ////
////////////*/

.hero {
  height: 600px;
  background: center / cover no-repeat url("./assets/hero.jpg");
}

/*///////////////
///// ABOUT /////
///////////////*/

.about { 
  display: flex;
  color: var(--color-blue); 
}

.about-left,
.about-right { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px;
  width: 50%;
}

.about-left { 
  background-color: var(--color-blue);
}

.about-right { background-color: var(--color-pink); }

.about-left img {
  width: 100%;
  max-width: 510px;
}

.about-right h2 {
  margin: 0;
  width: 100%;
  max-width: 484px;
}

.about-right p {
  max-width: 484px;
}

/*///////////////
///// STORE /////
///////////////*/

.store .container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1020px;
}

.store-header h2 {
  margin-bottom: 18px;
}

.store-header .filters {
  margin-bottom: 28px;
  justify-content: left;
}

.store-header .tag {
  margin-right: 25px;
}

.store .collection {
  display: flex;
  flex-wrap: wrap;
}

.store .album { 
  position: relative;
  max-width: 33.333%;
}

.store .album .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  background-color: rgba(44, 155, 255, 0.7);
  transition: opacity 0.5s ease-in-out;
}

.store .album:hover .overlay {
  opacity: 1;
}

.store .album .title { margin: 10px 0 0 15px; }

.store .album .price { margin: 0 0 10px 15px; }

.store .album img {
  width: 100%;
  height: 100%;
}

/*//////////////////
////// FOOTER //////
//////////////////*/

footer {
  margin-top: 60px;
  padding: 10px 20px;
  background-color: var(--color-blue);
}

footer img {
  max-width: 150px;
}

/*///////////////////////////
///////// UTILITIES /////////
///////////////////////////*/

.selected {
  border-bottom: 2px solid var(--color-blue);
}

.trace {
  box-sizing: border-box;
  border: 0.25pc solid red;
}
