/* TABLET */
@media (max-width: 900px){
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about-left,
  .about-right {
    align-items: center;
    padding: 65px 0;
    width: 100%;
  }

  .about-right {
    text-align: center;
  }

  .store .album { 
    max-width: 50%;
    /* min-width: 320px; */
  }
}

/* PHONE */
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }

  .main-header {
    font-size: 10px;
  }

  .main-header .logo img {
    max-width: 140px;
  }

  .about-right p {
    max-width: 384px;
  }

  .store .album {
    max-width: 100%;
  }
}