:root {
  --color-blue: #2C9BFF;
  --color-pink: #F9DBD7;
  --color-grey: #F5F5F5;
}

.trace {
  box-sizing: border-box;
  border: 0.25pc solid red;
}

.selected {
  border-bottom: 2px solid var(--color-blue);
}