:root {
  --color-blue: #2C9BFF;
  --color-pink: #F9DBD7;
}

.copy-md {
  font-size: 18px;
}

.copy-lg {
  font-size: 26px;
}

.display-1 {
  font-size: 40px;
  font-weight: 700;
}

.display-2 {
  font-size: 36px;
}