:root {
  --color-blue: #2C9BFF;
  --color-pink: #F9DBD7;
  --color-grey: #F5F5F5;
}

.trace {
  box-sizing: border-box;
  border: 0.25pc solid red;
}

.selected {
  border-bottom: 2px solid var(--color-blue);
}

.container { padding: 25px;}

.row {
  display: flex;
}

.col-4 {
  max-width: 33.33%;
}

.col-6 {
  max-width: 50%;
}

.copy-md {
  font-size: 18px;
}

.copy-lg {
  font-size: 26px;
}

.display-1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.375;
}

.display-2 {
  font-size: 36px;
}